<div class="container b" style="background-image: url(./assets/404.jpg)">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>

        <h3>PAGE NOT AVAILABLE NOW!</h3>


        <div class="error-details">ERR_FILE_NOT_FOUND!</div>
        <div class="error-actions">
          <a class="btn btn-primary btn-lg" routerLink="/home"><span class="glyphicon glyphicon-home"></span> Back
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
